<!DOCTYPE html>
<html ng-app="propertymanager">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Content/angular-table-resize.css">
    <link rel="stylesheet" type="text/css" href="/Content/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/selectize.css">
    <link rel="stylesheet" type="text/css" href="/Content/custom.css">
     <link rel="stylesheet" type="text/css" href="/Content/system.css">
    <title>Manager</title>
</head>
<body>
    <div class="header-bar-layout" ng-controller="MainCtrl" ng-init="loadLayout()">
        <div class="left-header">
            <a class="logo nav-left-header" ui-sref="dashboard" ng-class="{active: $state.includes('dashboard')}">
                <img src='/Images/logo.png' />
                <span>Property +</span>
            </a>
            <a class="nav-left-header" ui-sref="customerlist" ng-class="{active: $state.includes('customerlist')}">Khách hàng</a>
            <a class="nav-left-header" ui-sref="apartmentlist" ng-class="{active: $state.includes('apartmentlist')}">Căn hộ</a>
            <a class="nav-left-header" ui-sref="apartment" ng-class="{active: $state.includes('apartment') || $state.includes('apartmentdetail')}">Nhà mới</a>
            <a class="nav-left-header" ui-sref="contract" ng-class="{active: $state.includes('contract') || $state.includes('contractdetail')}">Hợp đồng</a>
            <a class="nav-left-header" ui-sref="visit" ng-class="{active: $state.includes('visit') || $state.includes('visitdetail')}">Lịch hẹn</a>
            <a class="nav-left-header" ui-sref="system.account" ng-class="{active: $state.includes('system.account')}">Hệ thống</a>
        </div>
        <!-- <div class="right-header">
            <div class="nav-right-header user-nav dropdown" href="">
                <button class="dropdown-toggle" data-toggle="dropdown">
                   <img class="avatar-user" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC'/>
                    <div class="user-name-box">
                        <span class="user-name">Admin</span>
                        <span class="user-small-name">ADMIN COM</span>
                    </div>
               </button>
               <ul class="dropdown-menu">
                <li>
                    <img class="big-avatar" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
                    <div class="detail-user-big">
                        <span class="name-user-big">Admin</span>
                        <span class="email-user-big">adminadmin@gmail.com</span>
                    </div>
                </li>
                <li><a href="#">Hồ sơ người dùng</a></li>
                <li><a href="#">Chỉnh sửa</a></li>
                <li><a href="#">Hỗ trợ</a></li>
                <li class="divider"></li>
                <li><a href="#">Thoát</a></li>
              </ul>
            </div>
            <div class="nav-right-header left-hr">

            </div>
            <div class="nav-right-header dropdown" href="">
                <button class="has-badge dropdown-toggle" data-toggle="dropdown">
                  <i class="fas fa-plus-circle"></i>
               </button>
               <ul class="dropdown-menu">
                <li><a href="#">Thời gian nghỉ</a></li>
                <li><a href="#">Chỉnh sửa hiệu lực</a></li>
                <li><a href="#">Sự kiện mới</a></li>
              </ul>
            </div>
            <div class="nav-right-header dropdown" href="">
                <button class="has-badge dropdown-toggle" data-toggle="dropdown">
                  <span>23</span>
                <i class="fas fa-users"></i>
               </button>
               <div class="dropdown-menu notification" ng-click="$event.stopPropagation();">
                  <div class="body-notification users-tab">
                      <ul class="tabs">
                        <li class="tab-link current" data-tab="tab-1">Tìm nhân viên</li>
                        <li class="tab-link" data-tab="tab-2">Đồng nghiệp của tôi ({{employees.length}})</li>
                      </ul>

                        <div id="tab-1" class="tab-content current emp-tab">
                            <div class="search-group">
                                <i class="fas fa-search"></i>
                                <input type="text" placeholder="Search employees" name="searchEmp" id="searchEmp" ng-model="searchEmp">
                                <i ng-show="searchEmp" ng-click="searchEmp = ''" class="fas fa-times"></i>
                            </div>
                            <p style="margin-left: 16px; ;color: #a7aaa9; font-size: 13px;">Tìm thấy {{employees.length}} nhân viên</p>
                            <div class="section-employee" ng-repeat="item in employees | filter:searchEmp">
                                <img class="avatar-employee" ng-src="{{item.AvatarEmp}}">
                                <div class="detail-employee">
                                    <span class="name-employee">{{item.FirstName}} {{item.LastName}}</span>
                                    <span class="role-employee">Vị trí: <span style="margin-left: 100px;color: black;">vị trí ở {{item.Role}} ^^</span></span>
                                    <span class="role-employee">{{item.Working}}</span>
                                </div>
                                <div class="dropdown action-dropdown">
                                    <button class="btn action-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Email</a></li>
                                      <li><a href="#">Tin nhắn</a></li>
                                    </ul>
                                  </div>
                            </div>

                        </div>
                        <div id="tab-2" class="tab-content emp-tab">
                           <div class="section-employee" ng-repeat="item in employees">
                                <img class="avatar-employee" ng-src="{{item.AvatarEmp}}">
                                <div class="detail-employee">
                                    <span class="name-employee">{{item.FirstName}} {{item.LastName}}</span>
                                    <span class="role-employee">Vị trí: <span style="margin-left: 100px;color: black;">Vị trí ở {{item.Role}} ^^</span></span>
                                    <span class="role-employee">{{item.Working}}</span>
                                </div>
                                <div class="dropdown action-dropdown">
                                    <button class="btn action-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Email</a></li>
                                      <li><a href="#">Tin nhắn</a></li>
                                    </ul>
                                  </div>
                            </div>
                        </div>
                  </div>
                  <a class="footer-notification">
                      Tất cả nhân viên
                  </a>
                </div>
            </div>
            <div class="nav-right-header dropdown" href="">
                <button class="has-badge dropdown-toggle" data-toggle="dropdown">
                   <span>23</span>
                <i class="fas fa-comment-alt"></i>
               </button>
               <div class="dropdown-menu notification" ng-click="$event.stopPropagation();">
                  <div class="header-notification">
                      TIN NHẮN GẦN ĐÂY
                  </div>
                  <div class="body-notification">
                      <p class="notfound-text">Bạn không có tin nhắn nào gần đây</p>
                  </div>
                  <a class="footer-notification">
                      Xem tất cả tin nhắn
                  </a>
                </div>
            </div>
            <div class="nav-right-header dropdown" href="">
               <button class="has-badge dropdown-toggle" data-toggle="dropdown">
                   <span>23</span>
                    <i class="fas fa-bell" ></i>
               </button>
               <div class="dropdown-menu notification" ng-click="$event.stopPropagation();">
                  <div class="header-notification">
                      THÔNG BÁO
                  </div>
                  <div class="body-notification">
                      <div class="section-notification" ng-repeat="item in notifications">
                          <img class="avatar-notification" ng-src="{{item.avatar}}">
                          <div class="detail-notification">
                            <span title="{{item.title}}" class="title-notification">{{item.title | limitTo : 90}}{{item.title.length > 90 ? '...' : ''}}</span>
                            <span class="time-notification">{{item.time}}</span>
                          </div>
                          <div class="dropdown action-dropdown" >
                            <button class="btn action-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a href="#">Đánh dấu đã đọc</a></li>
                              <li><a href="#">Xóa</a></li>
                            </ul>
                          </div>

                      </div>


                  </div>
                  <a class="footer-notification">
                      Tất cả thông báo
                  </a>
                </div>
            </div>
        </div> -->
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <div class="footer">
        <span class="float-left"><b>Copyright</b> Property Plus &copy; 2018</span>
        <span class="float-right">CodeX Team</span>
    </div>

    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-translate.min.js"></script>
    <script src="/Scripts/angular-sanitize.min.js"></script>
    <script src="/Scripts/ocLazyLoad.min.js"></script>
    <script src="/Scripts/angular-ui-router.min.js"></script>
    <script src="/Scripts/angular-locale_vi-vn.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="/Scripts/angular-idle.js"></script>
    <script src="/Scripts/base64.js"></script>
    <script src="/Scripts/angular-cookies.min.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/Scripts/ng-ckeditor.js"></script>
    <script type="text/javascript" src="/Scripts/angular-ui-utils.min.js"></script>
    <script type="text/javascript" src="/Scripts/imageupload.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.dataTables.min.js"></script>
<!--    <script type="text/javascript" src="/Scripts/angular-table-resize.js"></script>-->
    <script type="text/javascript" src="/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/selectize.js"></script>
    <script type="text/javascript" src="/Scripts/angular-selectize.js"></script>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWuX4GXgxkGER7KMO5M5NM8npxQ04wxnk&libraries=places"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWuX4GXgxkGER7KMO5M5NM8npxQ04wxnk&libraries=places"></script>
    <script type="text/javascript" src="/Scripts/sweetalert.min.js"></script>
    <script src="/Scripts/app/app.js"></script>
    <script src="/Scripts/app/config.js"></script>
    <script src="/Scripts/app/services.js"></script>
    <script src="/Scripts/app/directives.js"></script>
    <script type="text/javascript" src="/Scripts/app/mainctrl.js"></script>
    <script type="text/javascript" src="/Scripts/app/accountctrl.js"></script>
    <script type="text/javascript" src="/Scripts/app/apartmentctrl.js"></script>
    <script type="text/javascript" src="/Scripts/app/apartmentlistctrl.js"></script>
    <script type="text/javascript" src="/Scripts/app/customerlistctrl.js"></script>
    <script type="text/javascript" src="/Scripts/app/importctrl.js"></script>
    <script type="text/javascript" src="/Scripts/app/contractctrl.js"></script>
    <script type="text/javascript" src="/Scripts/app/visitctrl.js"></script>
    <script type="text/javascript" src="/Scripts/app/maidctrl.js"></script>
</body>
</html>
