<div class="account-view" ng-init="loadAccountDetail()" ng-controller="AccountCtrl">
	<div class="warp full-height">
		<div class="header-warp">
			<div class="title-warp">QUẢN LÝ CHI TIẾT TÀI KHOẢN</div>
		</div>
		<div class="body-warp">
			<div class="account-detail-view">
			  <form class="form-horizontal" name="myForm" ng-submit="saveAccount()">
			    <div class="form-group">
			      <label class="control-label col-sm-3" for="">Tài khoản:<span ng-show="!data.Id" style="color: red">*</span></label>
			      <div class="col-sm-6">
			        <input type="text" class="form-ctrl" ng-minlength="6" name="username" ng-readonly="data.Id" ng-model="data.Username" required="">
			      </div>
			      <label style="color:red;" class="col-sm-6 col-sm-offset-3" ng-show="myForm.username.$dirty && myForm.username.$invalid">Tài khoản phải có 6 ký tự trở lên</label>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-3" for="">Quyền:</label>
			      <div class="col-md-3">  
			        <select class="form-ctrl" ng-model="data.Role" number-to-string ng-change="roleChange();data.ParentId = ''">
			        	<option value="{{rl.value}}" ng-repeat="rl in roleListTmp">{{rl.name}}</option>
			        </select>
			      </div>
			      <label ng-show="data.Role == 4 || data.Role == 5" class="control-label col-sm-2" for="">Trưởng nhóm:</label>
			      <div class="col-sm-3" ng-show="data.Role == 4 || data.Role == 5">
			        <select class="form-ctrl" number-to-string ng-model="data.ParentId" ng-required="!data.ParentId && (data.Role == 4 || data.Role == 5)">
			        	<option selected="" value="">Chọn trưởng nhóm</option>
			        	<option value="{{leader.Id}}" ng-repeat = "leader in leaderListTmp">
			        		{{leader.Username}} 
			        	</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-3" for="">Mật khẩu: <span style="color: red">*</span></label>
			      <div class="col-sm-6">          
			        <input type="password" class="form-ctrl" ng-minlength="6" name="pwd" ng-model="data.Password"  ng-required="!data.Id">
			      </div>
			      <label style="color:red;" class="col-sm-6 col-sm-offset-3" ng-show="myForm.pwd.$dirty && myForm.pwd.$invalid">Mật khẩu phải có 6 ký tự trở lên</label>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-3" for="">Xác nhận mật khẩu: <span style="color: red">*</span></label>
			      <div class="col-sm-6">          
			        <input type="password" class="form-ctrl" name="rePwd" ng-model="rePassword" ng-required="!data.Id">
			      </div>
			      <label style="color:red;" class="col-sm-6 col-sm-offset-3" ng-show="myForm.rePwd.$dirty && myForm.rePwd.$invalid || rePassword != data.Password">Mật khẩu không khớp</label>
			    </div>
			    <div class="form-group">        
			      <div class="col-sm-offset-3 col-sm-9">
			      	<button type="submit" ng-disabled="((!myForm.pwd.$valid || !myForm.username.$valid) && !data.Id) || (data.Password != rePassword)" class="btn btn-save">Lưu</button>
			      	<button type="button" ui-sref="system.account" class="btn btn-back">Thoát</button>
			      </div>
			    </div>
			  </form>
			</div>
			
		</div>
	</div>
	
</div>