<div class="" ng-controller="ApartmentListCtrl" ng-init='loadApartmentList()'>
	<div class="warp no-padding-lr full-height has-table">
		<div class="header-warp">
			<div class="title-warp">QUẢN LÝ CHUNG CƯ, CĂN HỘ</div>
		</div>
		<div class="body-warp ">
			<div id="tableApartmentList">
				<div class="col-sm-9 col-md-7 option-block-table">
					<div class="row">
						<div class="col-sm-3">
							<select class="form-ctrl">
				              <option value="-1">Tất cả</option>
				              <option value="1">Đã duyệt</option>
				              <option value="0">Chưa duyệt</option>
				          </select>
						</div>
						<div class="col-sm-3">
							<select class="form-ctrl">
				              <option value="-1">Tất cả</option>
				              <option value="1">Đã duyệt</option>
				              <option value="0">Chưa duyệt</option>
				          </select>
						</div>
						<div class="col-sm-3">
							<select class="form-ctrl">
				              <option value="-1">Tất cả</option>
				              <option value="1">Đã duyệt</option>
				              <option value="0">Chưa duyệt</option>
				          </select>
						</div>
						<button type="button" class="btn btn-save" data-toggle="modal" data-target="#apartmentModal">Tạo mới</button>
					</div>
				</div>
				<table rz-table rz-options="options" rz-mode="tableMode" rz-model="table" rz-profile="profile" class="table table-striped table-condensed js-basic-example dataTable ui single line unstackable selectable fixed compact torrent table" id="resizeTable">
		          <thead>
		              <tr>
		                  <th rowspan="2" id="colIndex" class="col-left colSort col2row" rz-col="'colIndex'">STT</th>
			              <th colspan="5" class="col-left colProject colHouseAddress colSort"  rz-col="'colHouseAddress'">Địa chỉ căn hộ</th>
			              <th rowspan="2" rz-col="'colNameOwner'" class="colSort col2row">
			                  Tên chủ hộ</th>
			              <th rowspan="2"  rz-col="'colPhoneNumber'"  class="colSort col2row">
			                  Số điện thoại</th>
			              <th rowspan="2"  rz-col="'colEmail'" class="colSort col2row" >
			                  Email</th>
			                  <th rowspan="2"  rz-col="'colTaxCode'"  class="colSort col2row">
			                  Mã số thuế</th>
			                  <th  rowspan="2" rz-col="'colIdNumber'" class="colSort col2row" >
			                  CMT</th>
			                  <th  rowspan="2" rz-col="'colAddress'" class="colSort col2row" >
			                  Địa chỉ ở</th>
			                  <th  rowspan="2" rz-col="'colCountInteractive'" class="colSort col2row" >
			                  Bộ đếm tương tác</th>
			                  <th  rowspan="2" rz-col="'colBankId'" class="colSort col2row" >
			                  Số TK ngân hàng</th>
			                  <th rowspan="2"  rz-col="'colBankName'" class="colSort col2row" >
			                  Tên chi nhánh</th>
			                  <th  rowspan="2" rz-col="'colPrice'" class="colSort col2row" >
			                  Giá chào thuê</th>
			                  <th  rowspan="2" rz-col="'colEmptyDay'" class="colSort col2row" >
			                  Ngày trống</th>
			                  <th  rowspan="2" rz-col="'colCallDay'" class="colSort col2row" >
			                  Ngày gọi điện</th>
			                  <th  rowspan="2" rz-col="'colNote'" class="colSort col2row" >
			                  Note</th>
			                  <th  rowspan="2" rz-col="'colCallPerson'" class="colSort col2row" >
			                  Người gọi</th>
		              </tr>
		              <tr id="rowMain">
		                <th class="col-left colProject colSort" id="colProject" >Dự án</th>
		                <th class="col-left colApartment colSort" id="colApartment">Tòa</th>
		                <th class="col-left colCountHouse colSort" id="colCountHouse">Số căn</th>
		                <th class="col-left colArea colSort" id="colArea">Diện tích</th>
		                <th class="col-left colBedroom colSort" id="colBedroom">Phòng ngủ</th>
		              </tr>
		          </thead>
		          <tbody>
		              <tr ng-repeat="item in items track by $index">
		                  <td class="indexCol"><span>{{$index+1}}</span></td>
		                  <td class="col-left colProject" ><input type="text" ng-model="items[$index].colProject" ng-attr-tabindex="{{$index*19}}" class="input-row"><span class="hide">{{items[$index].colProject}}</span></td>
		                  <td class="col-left colApartment"><input type="text" ng-model="items[$index].colApartment" ng-attr-tabindex="{{$index*19 + 1}}" class="input-row"><span class="hide">{{items[$index].colApartment}}</span></td>
		                  <td class="col-left colCountHouse" ><input type="text" ng-model="items[$index].colCountHouse" ng-attr-tabindex="{{$index*19 + 2}}" class="input-row"><span class="hide">{{items[$index].colCountHouse}}</span></td>
		                  <td class="col-left colArea"><input type="text" ng-model="items[$index].colArea" ng-attr-tabindex="{{$index*19 + 3}}" class="input-row"><span class="hide">{{items[$index].colArea}}</span></td>
		                  <td class="col-left colBedroom"><input type="text" ng-model="items[$index].colBedroom" ng-attr-tabindex="{{$index*19 + 4}}" class="input-row"><span class="hide">{{items[$index].colBedroom}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colNameOwner" ng-attr-tabindex="{{$index*19 + 5}}" class="input-row"><span class="hide">{{items[$index].colNameOwner}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colPhoneNumber" ng-attr-tabindex="{{$index*19 + 6}}" class="input-row"><span class="hide">{{items[$index].colPhoneNumber}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colEmail" ng-attr-tabindex="{{$index*19 + 7}}" class="input-row"><span class="hide">{{items[$index].colEmail}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colTaxCode" ng-attr-tabindex="{{$index*19 + 8}}" class="input-row"><span class="hide">{{items[$index].colTaxCode}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colIdNumber" ng-attr-tabindex="{{$index*19 + 9}}" class="input-row"><span class="hide">{{items[$index].colIdNumber}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colAddress" ng-attr-tabindex="{{$index*19 + 10}}" class="input-row"><span class="hide">{{items[$index].colAddress}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colCountInteractive" ng-attr-tabindex="{{$index*19 + 11}}" class="input-row"><span class="hide">{{items[$index].colCountInteractive}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colBankId" ng-attr-tabindex="{{$index*19 + 12}}" class="input-row"><span class="hide">{{items[$index].colBankId}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colBankName" ng-attr-tabindex="{{$index*19 + 13}}" class="input-row"><span class="hide">{{items[$index].colBankName}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colPrice" ng-attr-tabindex="{{$index*19 + 14}}" class="input-row"><span class="hide">{{items[$index].colPrice}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colEmptyDay" ng-attr-tabindex="{{$index*19 + 15}}" class="input-row"><span class="hide">{{items[$index].colEmptyDay}}</span></td>
		                  <td class="rowBtn"><input type="button" ng-attr-tabindex="{{$index*19 + 16}}" class="input-row btn btn-save" value="Đã gọi" /><span class="hide">{{items[$index].colCallDay}}</span></td>
		                  <td><input type="text" ng-model="items[$index].colNote" ng-attr-tabindex="{{$index*19 + 17}}" class="input-row"><span class="hide">{{items[$index].colNote}}</span></td>
		                  <td>
		                  	<select ng-model="items[$index].colCallPerson" ng-attr-tabindex="{{$index*19 + 18}}" class="input-row">
		                  		<option value="{{items[$index].colCallPerson}}">Sang Beo</option>
		                  		<option>2</option>
		                  	</select>	
		                  	<span class="hide">{{items[$index].colCallPerson}}</span></td>
		              </tr>
		          </tbody>
		      </table>
			</div>
		</div>
	</div>
	<div id="apartmentModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Tạo Mới Căn Hộ</h4>
	      </div>
	      <div class="modal-body account-detail-view">
	      	<form class="form-horizontal" name="myForm">
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Dự án:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Tòa:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Số căn:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Diện tích:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Phòng ngủ:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Email:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Mã số thuế:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">CMT:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Địa chỉ ở:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Bộ đếm tương tác:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Số TK ngân hàng:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Tên chi nhánh:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Giá chào thuê:</label>
		            <div class="col-sm-8">
		                <input type="number" min="0" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Dự án:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Ngày trống:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Ngày gọi điện:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Note:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label col-sm-3" for="">Người gọi:</label>
		            <div class="col-sm-8">
		                <input type="text" class="form-ctrl" >
		            </div>
		        </div>
		        <div class="form-group">
		            <div class="col-sm-offset-3 col-sm-9">
		                <button type="submit"  class="btn btn-save">Lưu</button>
		                <button type="button" ui-sref="apartment" class="btn btn-back">Thoát</button>
		            </div>
		        </div>
		    </form>
	       <!--  <form class="form-horizontal" name="myForm" ng-submit="submitApartment()">
			        <div class="form-group">
			            <label class="control-label col-sm-3" for="">Mã:</label>
			            <div class="col-sm-8">
			                <input type="text" class="form-ctrl" name="username"  ng-model="data.Code">
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label col-sm-3" for="">Chủ nhà:</label>
			            <div class="col-sm-8">
			                <input type="text" class="form-ctrl" name="username"  ng-model="FullName">
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label col-sm-3" for="">Địa chỉ:</label>
			            <div class="col-sm-8">
			                <input type="text" class="form-ctrl" googleplace ng-change="changeAddress()" details="data" name="address" ng-model="data.Address"/>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label col-sm-3" for="">Loại:</label>
			            <div class="col-sm-3">
			                <select class="form-ctrl" ng-model="data.Type" number-to-string>
			                    <option value="1">Apartment</option>
			                </select>
			            </div>
			            <label class="control-label col-sm-2" for="">Diện tích:</label>
			            <div class="col-sm-3">
			                <input type="number" min="0" class="form-ctrl" name="area" ng-model="data.Area">
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label col-sm-3" for="">Số phòng ngủ:</label>
			            <div class="col-sm-3">
			                <input type="number" min="0" class="form-ctrl" name="bedRoom" ng-model="data.NoBedRoom">
			            </div>
			            <label class="control-label col-sm-2" for="">Số phòng tắm:</label>
			            <div class="col-sm-3">
			                <input type="number" min="0" class="form-ctrl" name="bathRoom" ng-model="data.NoBathRoom">
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label col-sm-3" for="">Giá chung cư, căn hộ ($):</label>
			            <div class="col-sm-3">
			                <input type="number" min="0" class="form-ctrl" ng-model="data.Price">
			            </div>
			            <label class="control-label col-sm-2" for="">Phí dịch vụ ($):</label>
			            <div class="col-sm-3">
			                <input type="number" min="0" class="form-ctrl"  ng-model="data.ManagementFee">
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label col-sm-3 text-danger" for="">Trạng thái:</label>
			            <div class="col-sm-3">
			                <select class="form-ctrl" ng-model="data.Status" number-to-string>
			                    <option value="1">Đã duyệt</option>
			                    <option value="0">Chưa duyệt</option>
			                </select>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="control-label col-sm-3" for="">Dịch vụ:</label>
			            <div class="col-sm-3">
			                <span class="checkbox-facility" ng-repeat="facility in facilityList track by $index">
			                    <label class="material-checkbox">
			                        <input type="checkbox" ng-model="facility.Status">
			                        <span></span>
			                    </label>
			                    {{facility.Content.Name}}
			                </span>
			            </div>
			        </div>

			        <div class="form-group" ng-show="allImg[imgType.value].length > 0 " ng-repeat="imgType in allType">
			            <label class="control-label col-sm-3" for="">{{imgType.name}}:</label>
			            <div class="col-sm-9">
			                <div class="margin-bot-15" ng-repeat="image in allImg[imgType.value] track by $index">
			                    <div class="row">
			                        <div class="col-sm-6 col-md-5  img-upload-current">
			                            <i ng-click="allImg[imgType.value].splice($index, 1)" ng-if="(image.Img || image.Img_Base64) && image.Type !== 0" class="remove-img-btn fas fa-times"></i>
			                            <img ng-if="image.Img_Base64" class="img" ng-src="{{image.Img_Base64}}"/>
			                            <img ng-if="image.Img" class="img" ng-src="{{image.Img}}"/>
			                            <div class="btn-upload" ng-class="image.Img || image.Img_Base64 ? 'opacityZero':''">
			                                <span class="btn-file">
			                                    <p> <i class="fas fa-plus"></i></p>
			                                    <p>add another</p>
			                                    <input ng-if="imgType.value != 0" type="file" accept="image/*" type-img="imgType.value" upload-img="uploadImg" image="allImg[imgType.value][$index]"
			                                           resize-max-height="300"
			                                           resize-max-width="250"
			                                           resize-quality="0.7"/>
			                                    <input ng-if="imgType.value == 0" accept="image/*" type-img="imgType.value" upload-img="uploadImg" image="allImg[imgType.value][$index]" type="file"/>
			                                </span>
			                            </div>
			                        </div>
			                        <div class="col-sm-3">
			                            <select class="form-ctrl" ng-model="allImg[imgType.value][$index].Type" ng-change="changeType(imgType.value,$index,image,image.Type)" ng-disabled="imgType.value == 0 || (image.Img == undefined && image.Img_Base64 == undefined)" number-to-string>
			                                <option ng-repeat="type in allType" ng-hide=" allImg[type.value].length >= type.maximum && (allImg[type.value][allImg[type.value].length - 1].Img_Base64 != undefined || allImg[type.value][allImg[type.value].length - 1].Img != undefined)" value="{{type.value}}">{{type.name}}</option>
			                            </select>
			                        </div>
			                    </div>
			                </div>
			            </div>

			        </div>
			        <div class="form-group">
			            <div class="users-tab">
			                <ul class="tabs">
			                    <li class="tab-link current" data-tab="tab-1">Tiếng Việt</li>
			                    <li class="tab-link" data-tab="tab-2">Tiếng Anh</li>
			                    <li class="tab-link" data-tab="tab-3">Tiếng Nhật</li>
			                </ul>

			                <div id="tab-1" class="tab-content current emp-tab ckedit-tab">
			                    <div class="form-group">
			                        <label class="control-label col-sm-3" for="">Tên (optional):</label>
			                        <div class="col-sm-8">
			                            <input type="text" class="form-ctrl" ng-model="data.ContentList[0].Name">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label col-sm-3" for="">Mô tả (optional):</label>
			                        <div class="col-sm-8">
			                            <textarea type="text" ckeditor="editorOptions"  ng-model="data.ContentList[0].Description" value="" />
			                        </div>
			                    </div>
			                </div>
			                <div id="tab-2" class="tab-content emp-tab ckedit-tab">
			                    <div class="form-group">
			                        <label class="control-label col-sm-3" for="">Tên (optional):</label>
			                        <div class="col-sm-8">
			                            <input type="text" class="form-ctrl" ng-model="data.ContentList[1].Name">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label col-sm-3" for="">Mô tả (optional):</label>
			                        <div class="col-sm-8">
			                            <textarea type="text" ckeditor="editorOptions"  ng-model="data.ContentList[1].Description" value="" />
			                        </div>
			                    </div>
			                </div>
			                <div id="tab-3" class="tab-content emp-tab ckedit-tab">
			                    <div class="form-group">
			                        <label class="control-label col-sm-3" for="">Tên (optional):</label>
			                        <div class="col-sm-8">
			                            <input type="text" class="form-ctrl" ng-model="data.ContentList[2].Name">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label col-sm-3" for="">Mô tả (optional):</label>
			                        <div class="col-sm-8">
			                            <textarea type="text" ckeditor="editorOptions"   ng-model="data.ContentList[2].Description" value="" />
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <div class="form-group">
			            <div class="col-sm-offset-3 col-sm-9">
			                <button type="submit" ng-disabled="!statusAddress" class="btn btn-save">Lưu</button>
			                <button type="button" ui-sref="apartment" class="btn btn-back">Thoát</button>
			            </div>
			        </div>
			    </form> -->
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
</div>