<div ng-controller="MaidApartmentCtrl" ng-init="loadMaidApartment()" class="view-maid-list">
   <div class="container-fluid content-maid-list">
       <div class="row">
           <form class="form-horizontal" name="myForm" ng-submit="pageChanged()">
           	<div class="col-sm-12" >
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Khu:</label>
                        <div class="col-sm-7"style="height: 37px;z-index: 1030;">
                            <selectize placeholder='Chọn dự án...'  name="khu" options='projectList' config="projectConfig" ng-model="currentProject" ng-disabled='disable' required='true'></selectize>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Tòa:</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="currentBuilding" name="searchToa" class="form-ctrl">
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Căn hộ:</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="currentNoApartment" name="searchCanHo" class="form-ctrl">
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Địa chỉ:</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="currentAddress" name="searchDiaChi" class="form-ctrl">
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Nhân viên:</label>
                        <div class="col-sm-7 selectize-on-all selectize-employee" style="color: black">
                        	<ui-select ng-model="currentEmployee.selected" theme="selectize" ng-disabled="disabled" style="width: 100%;" title="Chọn nhân viên">
						    <ui-select-match placeholder="Chọn nhân viên"><span ng-if="$select.selected.Code != 0">{{"["+$select.selected.Code+"]"}}</span>{{$select.selected.FullName}}</ui-select-match>
						    <ui-select-choices repeat="emp in employeeList | textNormalFilter: {FullName: $select.search}">
						    	<span ng-if="emp.Code != 0">[<span ng-bind-html="emp.Code | highlight: $select.search"></span>]</span>
						      <span ng-bind-html="emp.FullName | highlight: $select.search"></span>
						    </ui-select-choices>
						  </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Thời gian từ:</label>
                        <div class="col-sm-7">
                          <!--   <p style="z-index: 1007;" class="input-group" ng-init="apt.opened = false">
                              <input  type="text" class="form-ctrl" uib-datepicker-popup="{{format}}" ng-model="fromDatePicker" is-open="history.picker1" readonly="" name="firstDay" datepicker-options="dateOptions" close-text="Đóng"  clear-text="Làm mới" current-text="Hôm nay"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="history.picker1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p> -->
                            <p style="z-index: 1007;" class="input-group" ng-init="item1={}">
			                    <input type="text" class="form-ctrl" datetime-picker="dd/MM/yyyy" readonly="" enable-time="false"  timepicker-options="datePickerOptions" ng-model="fromDatePicker" is-open="item1.open" button-bar="buttonBar"  />
				                <span class="input-group-btn">
				                  <button type="button" class="btn btn-default" ng-click="openCalendar($event, item1)"><i class="glyphicon glyphicon-calendar"></i></button>
				                </span>
			                </p>

                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Đến:</label>
                        <div class="col-sm-7">
                            <!-- <p style="z-index: 1007;" class="input-group" ng-init="apt.opened = false">
                              <input type="text" class="form-ctrl" uib-datepicker-popup="{{format}}" ng-model="toDatePicker" is-open="history.picker2" readonly="" name="endDay" datepicker-options="dateOptions" close-text="Đóng"  clear-text="Làm mới" current-text="Hôm nay"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="history.picker2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p> -->
                            <p style="z-index: 1007;" class="input-group" ng-init="item2={}">
			                    <input type="text" class="form-ctrl" datetime-picker="dd/MM/yyyy" readonly="" enable-time="false"  timepicker-options="datePickerOptions" ng-model="toDatePicker" is-open="item2.open" button-bar="buttonBar"  />
				                <span class="input-group-btn">
				                  <button type="button" class="btn btn-default" ng-click="openCalendar($event, item2)"><i class="glyphicon glyphicon-calendar"></i></button>
				                </span>
			                </p>
                        </div>
                    </div>
                   <div class="col-sm-3">
                   		<label class="control-label col-sm-5" for=""></label>
                        <button type="submit" style="margin-top: 4px;" class="btn btn-save float-left"> Tìm kiếm</button>
                    </div>
                </div>
                <!-- <div class="col-sm-12" >
                    <div class="row">
                    	<p id="test"></p>
                        <div class="form-group col-sm-4 ">
                            <label class="control-label col-sm-5" for="">Nhân viên:</label>
                            
                        </div>
                        
                        <div style="display: inline-block;float: left">
                            <button ng-click="pageChanged()" type="button" style="margin-left: 30px;margin-top: 4px;" class="btn btn-save float-left"> Tìm kiếm</button>
                        </div>
                    </div> -->
                    
                    
                </div>
             </form>
			</div>
			<div id="tableMaid" style="overflow:auto; height: 600px">
				<table class="table table-hover table-list table-contract table-maid table-maid-apartment">
					<thead>
						<tr class="first-row">
							<!-- <th rowspan="2" class="col2rows bold red-text col-detele">Xóa</th> -->
		                    <th rowspan="2" class="col2rows">Ngày tương tác</th>
		                    <th colspan="10">Thông tin căn hộ</th>
		                    <th colspan="2">Thông tin liên lạc chủ hộ</th>
		                    <th colspan="2">Thông tin khách ở</th>
		                    <th colspan="2">Thời hạn hợp đồng</th>
		                    <th colspan="4">Thông tin nhân viên</th>
		                    <th rowspan="2" class="col2rows colWidth200">Đặc tính KH</th>
		                </tr>
		                <tr class="second-row">
		                    <th>Mã</th>
		                    <th>Tòa</th>  
		                    <th>Căn hộ</th>
		                    <th>Khu</th>  
		                    <th class="colWidth200">Địa chỉ</th>  
		                    <th class="colWidth200">Họ và tên chủ hộ</th>
		                    <th>Số phòng ngủ</th>
		                    <th>Diện tích</th>
		                    <th>Pass cửa</th>
		                    <th>Pass wifi</th>
		                    <th class="colWidth200">Tên</th>
		                    <th>SĐT</th>
		                    <th class="colWidth160">Tên khách ở</th>
		                    <th>SĐT</th>
		                    <th>Check in</th>
		                    <th>Check out</th>
		                    <th style="min-width: 250px">Tên nhân viên</th>
		                    <th>Số điện thoại</th>
		                    <th class="colWidth120">Số buổi/tuần</th>
		                    <th class="colWidth120">Giờ làm</th>
		                </tr>
					</thead>
	                <tbody>
	                	<tr ng-repeat="apartment in apartmentList">
	                		<!-- <td class="col-detele"><i ng-click="deleteApartment(1)" style="color: #ac2925;cursor: pointer;" class="fas fa-minus"></i></td> -->
		                	<td>12/12/2018</td>
		                    <td>{{apartment.Apartment.Code}}</td>
		                    <td>{{apartment.Building}}</td>  
		                    <td>{{apartment.NoApartment}}</td>
		                    <td>{{apartment.Apartment.Project.Name}}</td>  
		                    <td class="colWidth200">{{apartment.Address}}</td>  
		                    <td class="colWidth200">{{apartment.OwnerName}}</td>
		                    <td>{{apartment.NoBedRoom}}</td>
		                    <td>{{apartment.Area}}</td>
		                    <td>{{apartment.PassDoor}}</td>
		                    <td>{{apartment.PassWifi}}</td>
		                    <td class="colWidth200">{{apartment.OwnerName}}</td>
		                    <td>{{apartment.OwnerPhone}}</td>
		                    <td class="colWidth160">{{apartment.ResidentName}}</td>
		                    <td>{{apartment.ResidentPhone}}</td>
		                    <td>{{apartment.StartDate*1000 | date:'dd/MM/yyyy'}}</td>
		                    <td>{{apartment.EndDate*1000 | date:'dd/MM/yyyy'}}</td>
		                   <!--  <td class="selectize-employee" style="min-width: 250px"><selectize placeholder='Chọn nhân viên...' options='employeeList2' config="myConfig" ng-change="changeMaidApartment(apartment)" ng-model="apartment.Maid.Id" ng-disabled='disable' required='true'></selectize></td> -->
		                  <td class="selectize-employee" style="min-width: 250px">
		                  	 <ui-select ng-model="apartment.Maid" theme="selectize" ng-disabled="disabled" style="width: 100%;" title="Chọn nhân viên">
							    <ui-select-match placeholder="Chọn nhân viên">{{"["+$select.selected.Code+"]"+$select.selected.FirstName + " " + $select.selected.LastName}}</ui-select-match>
							    <ui-select-choices repeat="emp in employeeList2 | textNormalFilter: {FullName: $select.search}">
							    	<span>[<span ng-bind-html="emp.Code | highlight: $select.search"></span>]</span>
							      <span ng-bind-html="emp.FullName | highlight: $select.search"></span>
							    </ui-select-choices>
							  </ui-select>
		                  </td>
		                    <td><span ng-if="apartment.Maid.Id">{{apartment.Maid.Phone}}</span></td>
		                    <td id="test" class="colWidth120" ng-init="apartment.textDay = getTextDay(apartment.workdays)">
		                    	<div style="width:103px;" class="dropdown select-day-dropdown">
								    <button class="space-normal btn btn-default dropdown-toggle" type="button">{{apartment.textDay}}
								    <span class="caret"></span></button>
								    <ul class=" dropdown-menu">
									    <li ng-repeat="apt in apartment.workdays" style="padding-left: 30px;"><div style="width:70px; display:inline-block">{{apt.value}}</div> <label class="material-checkbox m-l-10 has-checkbox">
						                        <input type="checkbox" ng-model="apt.status">
						                        <span></span>
						                    </label>
						                </li>
						                <li style="float:right;">
						                	<button ng-click="submitWorkDay(apartment)" class="btn btn-primary btn-ok">Xong</button>
						                </li>
								    </ul>
							  </div>
							</td>
		                    <td class="colWidth120"  ng-init="apartment.textTime = getTextTime(apartment.timeWork)">
		                    	<div style="width:80px;" class="dropdown select-day-dropdown dropdown-time-picker">
								    <button style="width: 100px;" class="space-normal btn btn-default dropdown-toggle" type="button">{{apartment.textTime}}
								    <span class="caret"></span></button>
								    <ul class=" dropdown-menu">
									    <li style="padding-left: 30px;">
									    	<div uib-timepicker ng-model="apartment.timeWork" hour-step="1" minute-step="15" show-meridian="false"></div>
						                </li>
						                <li style="float:right;">
						                	<button ng-click="submitWorkTime(apartment)" class="btn btn-primary btn-ok">Xong</button>
						                </li>
								    </ul>
							  </div>
				            </td>
		                    <td ng-click="openNote(apartment,$index)" class="colWidth200" data-toggle="modal" data-target="#employeeModal" style="cursor: pointer;"><span ng-if="apartment.Apartment.Resident.NoteList.length > 0">{{apartment.Apartment.Resident.NoteList[apartment.Apartment.Resident.NoteList.length-1].Note }}</span><span ng-if="!apartment.Apartment.Resident.NoteList.length"><i class="fas fa-plus"/></td>
		                </tr>
	                </tbody>
	                
	            </table>
			</div>
           
		<div class="pagination-employee">
			<ul uib-pagination total-items="totalMaid" items-per-page="20" max-size="4" ng-model="bigCurrentPage" ng-change="pageChanged()"></ul>	
		</div>
    </div>
    <div id="employeeModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <form class="form-horizontal modal-content" name="myForm" ng-submit="saveNote()">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
	        <h4 class="modal-title" style="color: #DFF5F3">Đặc tính khách hàng</h4>
	      </div>
	      <div class="modal-body maid-employee-modal">
            
      		<div class="form-group">
	            <label class="control-label col-sm-6 text-left" for="">Ngày</label>
	            <label class="control-label col-sm-6 text-left" for="">Ghi chú</label>
	        </div>
	       
	        <div class="form-group" ng-repeat="item in currentApartment.notes track by $index" style="position: relative;">
	        	<i ng-click="deleteNote(item.Id,$index)" class="icon-times-delete fas fa-times"></i>
	            <div class="col-sm-5 input-datetime">
	                <input type="text" value="{{item.CreatedDate*1000 | date:'dd/MM/yyyy HH:mm'}}" readonly="" class="form-ctrl">
	            </div>
	            <div class="col-sm-5 col-sm-offset-1 input-datetime">
	                <textarea style="resize: none;" rows="1" ng-readonly="item.Id" class="form-ctrl" ng-model="item.Note" id="username" />
	            </div>
	        </div>
	       <div class="form-group">
	       	<div  class="col-sm-offset-5">
	       		<button type="button" class="btn btn-save" ng-click="addNote()"><i style="color: white;" class="fas fa-plus"/> Thêm mới</button>
	       	</div>
	       </div>
	    </div>
	    <div class="modal-footer">
	      	<button type="submit" class="btn btn-save" style="margin-right: 10px;">Xong</button>
	        <button type="button" ng-click="test()" class="btn btn-default" id="btn-close-modal" data-dismiss="modal">Đóng</button>
	    </div>
	    </form>

	  </div>
	</div>
</div> 