<div ng-controller="MaidProblemCtrl" ng-init="loadMaidProblem()" class="view-maid-list">
   <div class="container-fluid content-maid-list">
       <div class="row">
           <form class="form-horizontal" name="myForm" ng-submit="pageChanged()">
                <div class="col-sm-12" >
                    <div class="row">
                        <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Khu:</label>
                        <div class="col-sm-7"style="height: 37px;z-index: 1030;">
                            <selectize placeholder='Chọn dự án...'  name="khu" options='projectList' config="projectConfig" ng-model="currentProject" ng-disabled='disable' required='true'></selectize>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Tòa:</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="currentBuilding" name="searchToa" class="form-ctrl">
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Căn hộ:</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="currentNoApartment" name="searchCanHo" class="form-ctrl">
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="control-label col-sm-5" for="">Địa chỉ:</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="currentAddress" name="searchDiaChi" class="form-ctrl">
                        </div>
                    </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label col-sm-5" for="">Loại sự việc:</label>
                            <div class="col-sm-7">
                                <td class="colWidth160">
		                    	<select class="form-ctrl" string-to-number name="loaisuviec"  ng-model="currentTypeProblem">
						        	<option value="-1">Tất cả</option>
	                            	<option value="">Nội bộ phòng maid</option>
	                            	<option value="0">Đồ nội thất</option>
	                            	<option value="1">Thiết bị thu phát</option>
	                            	<option value="2">Đồ điện tử</option>
	                            	<option value="3">Ánh sáng</option>
	                            	<option value="4">Điều hòa nhiệt độ</option>
	                            	<option value="5">Khu vực bếp</option>
	                            	<option value="6">Khu vực phòng tắm</option>
	                            </select>
                        	</td>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label col-sm-5" for="">Thời gian từ:</label>
                            <div class="col-sm-7">
                              <!--   <p style="z-index: 1007;" class="input-group" ng-init="apt.opened = false">
                                  <input  type="text" class="form-ctrl" uib-datepicker-popup="{{format}}" ng-model="fromDatePicker" is-open="history.picker1" readonly="" name="firstDay" datepicker-options="dateOptions" close-text="Đóng"  clear-text="Làm mới" current-text="Hôm nay"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="history.picker1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p> -->
                                <p style="z-index: 1007;" class="input-group" ng-init="item1={}">
				                    <input type="text" class="form-ctrl" datetime-picker="dd/MM/yyyy" readonly="" enable-time="false"  timepicker-options="datePickerOptions" ng-model="fromDatePicker" is-open="item1.open" button-bar="buttonBar"  />
					                <span class="input-group-btn">
					                  <button type="button" class="btn btn-default" ng-click="openCalendar($event, item1)"><i class="glyphicon glyphicon-calendar"></i></button>
					                </span>
				                </p>

                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label col-sm-5" for="">Đến:</label>
                            <div class="col-sm-7">
                                <!-- <p style="z-index: 1007;" class="input-group" ng-init="apt.opened = false">
                                  <input type="text" class="form-ctrl" uib-datepicker-popup="{{format}}" ng-model="toDatePicker" is-open="history.picker2" readonly="" name="endDay" datepicker-options="dateOptions" close-text="Đóng"  clear-text="Làm mới" current-text="Hôm nay"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="history.picker2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p> -->
                                <p style="z-index: 1007;" class="input-group" ng-init="item2={}">
				                    <input type="text" class="form-ctrl" datetime-picker="dd/MM/yyyy" readonly="" enable-time="false"  timepicker-options="datePickerOptions" ng-model="toDatePicker" is-open="item2.open" button-bar="buttonBar"  />
					                <span class="input-group-btn">
					                  <button type="button" class="btn btn-default" ng-click="openCalendar($event, item2)"><i class="glyphicon glyphicon-calendar"></i></button>
					                </span>
				                </p>
                            </div>
                        </div>
                       <div class="col-sm-3">
                       		<div class="control-label col-sm-2" ></div>
                            <button  type="submit" style="margin-top: 4px;" class="btn btn-save float-left"> Tìm kiếm</button>
                            <button  type="button" style="margin-top: 4px;" data-toggle="modal" data-target="#newProblemModal" class="btn btn-save float-right"><i style="color: white" class="fas fa-plus"/> Tạo mới</button>
                        </div>
                    </div>
                     
                    
                </div>
             </form>
			</div>
			<div id="tableMaid" style="overflow:auto; height: 600px">
				<table class="table table-hover table-list table-contract table-maid table-maid-apartment ">
					<thead>
						<tr class="first-row">
							<th rowspan="2" class="col2rows bold red-text col-detele">Xóa</th>
		                    <th rowspan="2" class="col2rows">Ngày tháng</th>
		                    <th colspan="5">Thông tin căn hộ</th>
		                    <th rowspan="2" class="col2rows" style="min-width: 200px">Đặc tính khách hàng</th>
		                    <th colspan="8">Thông tin sự cố</th>
		                </tr>
		                <tr class="second-row">
		                    <th>Mã căn hộ</th>
		                    <th>Tòa</th>  
		                    <th>Căn hộ</th>
		                    <th>Khu</th>  
		                    <th class="colWidth200">Địa chỉ</th>  
		                    <th class="colWidth160">Loại sự việc</th>
		                    <th class="colWidth200">Tóm tắt sự việc</th>
		                    <th>Mô tả sự việc</th>
		                    <th>Trích sang lịch</th>
		                    <th class="colWidth200">Mức độ ưu tiên</th>
		                    <th class="colWidth120">Quá trình</th>
		                    <th>Ảnh sự cố</th>
		                    <th class="colWidth160">Tình trạng</th>
		                </tr>
					</thead>
					<tbody>
	                	<tr ng-repeat="item in problemList track by $index">
	                		<td class="col-detele"><i ng-click="deleteMaidProblem(1)" style="color: #ac2925;cursor: pointer;" class="fas fa-minus"></i></td>
		                	<td>{{item.CreatedDate*1000 | date:"dd/MM/yyyy"}}</td>
		                	<td>{{item.Apartment.Code}}</td>
		                    <td>{{item.Apartment.Building}}</td>  
		                    <td>{{item.Apartment.NoApartment}}</td>
		                    <td>{{item.Apartment.Project.Name}}</td>  
		                    <td class="colWidth200">{{item.Apartment.Address}}</td>  
		                   <!--  <td ng-click="openNote(item,$index)" data-toggle="modal" data-target="#employeeModal" style="cursor: pointer;min-width: 200px"><span ng-if="item.textNote">{{item.textNote }}</span><span ng-if="!item.textNote"><i class="fas fa-plus"/></span></td> -->
		                    <td ng-click="openNote(item,$index)" class="colWidth200" data-toggle="modal" data-target="#employeeModal" style="cursor: pointer;min-width: 200px"><span ng-if="item.Apartment.Resident.NoteList.length > 0">{{item.Apartment.Resident.NoteList[item.Apartment.Resident.NoteList.length-1].Note }}</span><span ng-if="!item.Apartment.Resident.NoteList.length"><i class="fas fa-plus"/></td>
		                    <td class="colWidth160">
		                    	<select ng-change="changeValue(item)" class="form-ctrl" number-to-string ng-model="item.IssueId">
	                            	<option value="">Nội bộ phòng maid</option>
	                            	<option value="0">Đồ nội thất</option>
	                            	<option value="1">Thiết bị thu phát</option>
	                            	<option value="2">Đồ điện tử</option>
	                            	<option value="3">Ánh sáng</option>
	                            	<option value="4">Điều hòa nhiệt độ</option>
	                            	<option value="5">Khu vực bếp</option>
	                            	<option value="6">Khu vực phòng tắm</option>
	                            </select>
                        	</td>
		                    <td class="colWidth200">{{item.Summary}}</td>
		                    <td>{{item.Description}}</td>
		                    <td>21/12/2018</td>
		                    <td class="colWidth200">
		                    	<select ng-change="changeValue(item)" class="form-ctrl" number-to-string ng-model="item.Priority">
						        	<option value="">Chọn mức độ</option>
	                            	<option value="0">Phải làm ngay trong ngày</option>
	                            	<option value="1">Làm trong 3 ngày</option>
	                            	<option value="2">Làm trong 1 tuần</option>
	                            </select>
	                        </td>
	                        
		                   <!--  <td class="colWidth120" style="cursor: pointer;" data-toggle="modal" data-target="#fixModal" ng-click="openNoteFix(item,$index)"><span ng-if="item.textFix">{{item.textFix }}</span><span ng-if="!item.textFix"><i class="fas fa-plus"/></span></td> -->
		                   <td class="colWidth120" style="cursor: pointer;" data-toggle="modal" data-target="#fixModal" ng-click="openNoteFix(item,$index)"><span ng-if="item.TrackingList.length > 0">{{item.TrackingList[item.TrackingList.length-1].CreatedDate*1000 | date:"dd/MM/yyyy HH:mm" }}</span><span ng-if="!item.TrackingList.length"><i class="fas fa-plus"/></td>
		                    <td> <button type="button" ng-click="openImages(item,$index)" data-toggle="modal" data-target="#imageModal" class="btn btn-default">Xem ảnh</button></td>

		                    <td class="colWidth160">
		                    	<select ng-change="changeValue(item)" number-to-string ng-class="item.Status == 0 ? 'text-warning' : 
						                    	(item.Status == 1 ? 'text-notify' :
						                    	(item.Status==2 ? 'text-success':''))" class="form-ctrl" ng-model="item.Status">
						        	<option value="">Chọn tình trạng</option>
	                            	<option value="0">Chưa xử lý</option>
	                            	<option value="1">Đang xử lý</option>
	                            	<option value="2">Hoàn thành</option>
	                            </select>
		                    </td>
		                </tr>
	               </tbody>
	                
	            </table>
			</div>
           
		<div class="pagination-employee">
			<ul uib-pagination total-items="totalMaid" items-per-page="20" max-size="4" ng-model="bigCurrentPage" ng-change="pageChanged()"></ul>	
		</div>
    </div>
    <div id="employeeModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <form class="form-horizontal modal-content" name="myForm" ng-submit="saveNote()">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
	        <h4 class="modal-title" style="color: #DFF5F3">Đặc tính khách hàng</h4>
	      </div>
	      <div class="modal-body maid-employee-modal">
            
      		<div class="form-group">
	            <label class="control-label col-sm-6 text-left" for="">Ngày</label>
	            <label class="control-label col-sm-6 text-left" for="">Ghi chú</label>
	        </div>
	       
	        <div class="form-group" ng-repeat="item in currentApartment.notes track by $index" style="position: relative;">
	        	<i ng-click="deleteNote(item.Id,$index)" class="icon-times-delete fas fa-times"></i>
	            <div class="col-sm-5 input-datetime">
	                <input type="text" value="{{item.CreatedDate*1000 | date:'dd/MM/yyyy HH:mm'}}" readonly="" class="form-ctrl">
	            </div>
	            <div class="col-sm-5 col-sm-offset-1 input-datetime">
	                <textarea style="resize: none;" rows="1" ng-readonly="item.Id" class="form-ctrl" ng-model="item.Note" id="username" />
	            </div>
	        </div>
	       <div class="form-group">
	       	<div  class="col-sm-offset-5">
	       		<button type="button" class="btn btn-save" ng-click="addNote()"><i style="color: white;" class="fas fa-plus"/> Thêm mới</button>
	       	</div>
	       </div>
	    </div>
	    <div class="modal-footer">
	      	<button type="submit" class="btn btn-save" style="margin-right: 10px;">Xong</button>
	        <button type="button" ng-click="test()" class="btn btn-default" id="btn-close-modal" data-dismiss="modal">Đóng</button>
	    </div>
	    </form>

	  </div>
	</div>
	<div id="newProblemModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <form class="form-horizontal modal-content" name="myForm" ng-submit="saveProblem()">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
	        <h4 class="modal-title" style="color: #DFF5F3">Thêm mới sự cố</h4>
	      </div>
	      <div class="modal-body maid-employee-modal">
      		<div class="form-group">
	            <label class="control-label col-sm-3" for="">Căn hộ: <span style="color: red">*</span></label>
	            <div class="col-sm-7">
	                <selectize placeholder='Chọn căn hộ...' name="newApartment" options='apartmentList' config="apartmentConfig" ng-model="newProblem.ApartmentId" ng-disabled='disable' required='true'></selectize>
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-3" for="">Mô tả sự việc: <span style="color: red">*</span></label>
	            <div class="col-sm-7">
	                <input type="text" name="newDescription" ng-model="newProblem.Description" class="form-ctrl" >
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-3" for="">Mức độ ưu tiên: <span style="color: red">*</span></label>
	            <div class="col-sm-7">
	                <select name="newIssueId" class="form-ctrl" number-to-string ng-model="newProblem.Priority">
			        	<option value="">Chọn mức độ</option>
                    	<option value="0">Phải làm ngay trong ngày</option>
                    	<option value="1">Làm trong 3 ngày</option>
                    	<option value="2">Làm trong 1 tuần</option>
                    </select>
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-3" for="">Tóm tắt sự cố: <span style="color: red">*</span></label>
	            <div class="col-sm-7">
	                <input type="text" name="newSummary" ng-model="newProblem.Summary" class="form-ctrl" >
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-3" for="">Loại sự cố: <span style="color: red">*</span></label>
	            <div class="col-sm-7">
	            	<select  name="newType" ng-model="newProblem.IssueId" class="form-ctrl" number-to-string>
                    	<option value=null>Nội bộ phòng maid</option>
                    	<option value="0">Đồ nội thất</option>
                    	<option value="1">Thiết bị thu phát</option>
                    	<option value="2">Đồ điện tử</option>
                    	<option value="3">Ánh sáng</option>
                    	<option value="4">Điều hòa nhiệt độ</option>
                    	<option value="5">Khu vực bếp</option>
                    	<option value="6">Khu vực phòng tắm</option>
                    </select>
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-3" for="">Trạng thái: <span style="color: red">*</span></label>
	            <div class="col-sm-7">
	                <select number-to-string ng-class="newProblem.Status == 0 ? 'text-warning' : 
			                    	(newProblem.Status == 1 ? 'text-notify' :
			                    	(newProblem.Status == 2 ? 'text-success':''))" name="newStatus"  class="form-ctrl" ng-model="newProblem.Status">
			        	<option value="">Chọn tình trạng</option>
                    	<option value="0">Chưa xử lý</option>
                    	<option value="3">Đang xử lý</option>
                    	<option value="1">Hoàn thành</option>
                    </select>
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-3" for="">Ảnh sự cố: <span style="color: red">*</span></label>
	            <div class="col-sm-7">
	                <div style="height: 153px;" ng-repeat="image in newProblem.ListImage track by $index" class="col-md-4 another-img-upload img-upload-current">
	                    <i ng-click="newProblem.ListImage.splice($index, 1)" ng-if="image.Img || image.Img_Base64" class="remove-img-btn fas fa-times"></i>
	                    <img ng-if="image.Img_Base64" class="img" ng-src="{{image.Img_Base64}}"/>
			            <img ng-if="image.Img" class="img" ng-src="{{image.Img}}"/>
	                </div>
	                <div ng-show="newProblem.ListImage.length < 3" class="col-md-4 another-img-upload img-upload-current">
	                    <div class="btn-upload">
	                        <span class="btn-file">
	                            <p> <i class="fas fa-plus"></i></p>
	                            <p>Thêm ảnh</p>
	                            <input type="file" accept="image/*" multiple image="newProblem.ListImage" length-file="3" upload-img="uploadImg"
	                                   resize-max-height="300"
	                                   resize-max-width="250"
	                                   resize-quality="0.7" />
	                        </span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="modal-footer">
	      	<button type="submit" class="btn btn-save" style="margin-right: 10px;">Xong</button>
	        <button type="button" ng-click="test()" class="btn btn-default" id="btn-close-modal" data-dismiss="modal">Đóng</button>
	    </div>
	    </form>

	  </div>
	</div>
    <div id="fixModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <form class="form-horizontal modal-content" name="myyForm" ng-submit="saveNoteFix()">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
	        <h4 class="modal-title" style="color: #DFF5F3">Quá trình:</h4>
	      </div>
	      <div class="modal-body maid-employee-modal">
            
      		<div class="form-group">
	            <label class="control-label col-sm-3 text-left" for="">Ngày giờ làm</label>
	            <label class="control-label col-sm-4 text-left" for="">Nội dung</label>
	            <label class="control-label col-sm-2 text-left" for="">Giá thành</label>
	            <label class="control-label col-sm-3 text-left" for="">Nhân viên làm </label>
	        </div>
	       
	        <div class="form-group" style="clear: both; position: relative;padding-right: 30px;" ng-repeat="item in currentProblem.fix track by $index" >
	        	<i ng-click="deleteFix(item.Id,$index)" style="right: 18px;" class="icon-times-delete fas fa-times"></i>
	            <div ng-class="item.Id ? 'blocked':''" class="col-sm-3 input-datetime input-time">
	                <p class="input-group">
	                    <input type="text" class="form-ctrl" readonly="" datetime-picker="dd/MM/yyyy HH:mm" timepicker-options="datePickerOptions" ng-model="item.CreatedDate " is-open="item.open" button-bar="buttonBar"  />
		                <span class="input-group-btn">
		                  <button type="button" class="btn btn-default" ng-click="openCalendar($event, item)"><i class="glyphicon glyphicon-calendar"></i></button>
		                </span>
	                </p>

	            </div>
	            <div ng-class="item.Id ? 'blocked':''" class="col-sm-4 input-datetime">
	                <textarea rows="1" style="resize: none;" class="form-ctrl" ng-model="item.Content" />
	            </div>
	            <div ng-class="item.Id ? 'blocked':''" class="col-sm-2">
	                <input type="number" class="form-ctrl" ng-model="item.Price">
	            </div>
	            <div ng-class="item.Id ? 'blocked':''" class="col-sm-3">
	            	<selectize placeholder='Chọn nhân viên...' options='employeeList' config="myConfig" ng-model="item.EmployeeId" ng-disabled='disable' required='true'></selectize>
	            </div>
	        </div>
	       <div class="form-group">
	       	<div  class="col-sm-offset-5">
	       		<button type="button" class="btn btn-save" ng-click="addNoteFix()"><i style="color: white;" class="fas fa-plus"/> Thêm mới</button>
	       	</div>
	       </div>
	    </div>
	    <div class="modal-footer">
	      	<button type="submit" class="btn btn-save" style="margin-right: 10px;">Xong</button>
	        <button type="button" class="btn btn-default" id="btn-close-modal" ng-click="currentFix = null" data-dismiss="modal">Đóng</button>
	    </div>
	    </form>

	  </div>
	</div>

	<div id="imageModal" class="modal fade" role="dialog">
	  <div class="modal-dialog" >
	    <form class="form-horizontal modal-content" name="myyForm" ng-submit="saveImages()">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
	        <h4 class="modal-title" style="color: #DFF5F3">Ảnh sự cố</h4>
	      </div>
	      <div class="modal-body maid-employee-modal">
	        <div class="form-group" style="clear: both">
	            <div>
	            	<div style="height: 153px;" ng-repeat="image in currentProblem.images track by $index" class="col-md-4 another-img-upload img-upload-current">
	                    <i ng-click="currentProblem.images.splice($index, 1)" ng-if="image.Img || image.Img_Base64" class="remove-img-btn fas fa-times"></i>
	                    <img ng-if="image.Img_Base64" class="img" ng-src="{{image.Img_Base64}}"/>
			            <img ng-if="image.Img" class="img" ng-src="Upload/problem/{{image.Img}}"/>
	                </div>
	                <div ng-show="currentProblem.images.length < 3" class="col-md-4 another-img-upload img-upload-current">
	                    <div class="btn-upload">
	                        <span class="btn-file">
	                            <p> <i class="fas fa-plus"></i></p>
	                            <p>Thêm ảnh</p>
	                            <input type="file" accept="image/*" multiple image="currentProblem.images" length-file="3" upload-img="uploadImg"
	                                   resize-max-height="300"
	                                   resize-max-width="250"
	                                   resize-quality="0.7" />
	                        </span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="modal-footer">
	      	<button type="submit" class="btn btn-save" style="margin-right: 10px;">Xong</button>
	        <button type="button" class="btn btn-default" id="btn-close-modal" ng-click="currentProblem = null" data-dismiss="modal">Đóng</button>
	    </div>
	    </form>

	  </div>
	</div>
</div> 