<div ng-controller="MaidCtrl" ng-init="loadMaidList()" class="view-maid-list">
   <div class="container-fluid content-maid-list">
       <div class="row">
           <form class="form-horizontal" name="myForm">
                <div class="col-sm-12" >
                    <div class="row">
                    	<p id="test"></p>
                        <div class="form-group col-sm-4">
                            <label class="control-label col-sm-5" for="">Nhân viên:</label>
                            <div class="col-sm-7" style="color: black">
                            	<selectize placeholder='Chọn nhân viên...' options='employeeList' config="myConfig" ng-model="currentEmployee" ng-disabled='disable' required='true'></selectize>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label col-sm-5" for="">Thời gian từ:</label>
                            <div class="col-sm-7">
                                <!-- <p class="input-group" ng-init="apt.opened = false">
                                  <input type="text" class="form-ctrl" uib-datepicker-popup="{{format}}" ng-model="fromDatePicker" is-open="history.picker1" readonly="" name="firstDay" datepicker-options="dateOptions" close-text="Đóng"  clear-text="Làm mới" current-text="Hôm nay"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="history.picker1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p> -->
                                <p style="z-index: 1007;" class="input-group" ng-init="item1={}">
                                    <input type="text" class="form-ctrl" datetime-picker="dd/MM/yyyy" readonly="" enable-time="false"  timepicker-options="datePickerOptions" ng-model="fromDatePicker" is-open="item1.open" button-bar="buttonBar"  />
                                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" ng-click="openCalendar($event, item1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label col-sm-5" for="">Đến:</label>
                            <div class="col-sm-7">
                                <!-- <p class="input-group" ng-init="apt.opened = false">
                                  <input type="text" class="form-ctrl" uib-datepicker-popup="{{format}}" ng-model="toDatePicker" is-open="history.picker2" readonly="" name="endDay" datepicker-options="dateOptions" close-text="Đóng"  clear-text="Làm mới" current-text="Hôm nay"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="history.picker2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p> -->
                                <p style="z-index: 1007;" class="input-group" ng-init="item2={}">
                                    <input type="text" class="form-ctrl" datetime-picker="dd/MM/yyyy" readonly="" enable-time="false"  timepicker-options="datePickerOptions" ng-model="toDatePicker" is-open="item2.open" button-bar="buttonBar"  />
                                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" ng-click="openCalendar($event, item2)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div style="display: inline-block;float: left">
                            <button ng-click="changFilter()" type="button" style="margin-left: 30px;margin-top: 4px;" class="btn btn-save float-left"> Tìm kiếm</button>
                        </div>
                        <div style="display: inline-block;float: right">
                            <button ng-click="openPopup({})" data-toggle="modal" data-target="#employeeModal" type="button" style="margin-right: 11px;margin-top: 4px;" class="btn btn-save float-right"><i style="color: white;" class="fas fa-plus"></i> Tạo mới</button>
                        </div>
                    </div>
                    
                    
                </div>
             </form>
			</div>
           <table class="table table-hover table-list table-contract table-maid">
                    <tr>
                        <th rowspan="2" class="col2rows bold red-text">Xóa</th>
                        <th colspan="6">Thông tin nhân viên</th>
                        <th colspan="4">Số lượng căn phụ trách</th>
                        <th rowspan="2" style="width: 200px;" class="col2rows">Ghi chú</th>
                    </tr>
                    <tr>
                        <th>Phân loại nhân viên</th>
                        <th>Họ tên</th>  
                        <th>Mã nhân viên</th>
                        <th>Năm sinh</th>  
                        <th>Vị trí</th>  
                        <th>Điện thoại</th>
                        <th>Tổng số căn phụ trách</th>
                        <th>1 ngủ</th>
                        <th>2 ngủ</th>
                        <th>3 ngủ</th>
                    </tr>
                    <tr ng-repeat="item in maidList">
                        <td><button class="bold btn btn-danger">Xóa</button></td>
                        <td>{{item.Type}}</td>
                        <td><a href="#" ng-click="openPopup(item)" data-toggle="modal" data-target="#employeeModal">{{item.FirstName + ' ' + item.LastName}}</a></td>
                        <td>{{item.Code}}</td>
                        <td>{{convertDate(item.Birthday)}}</td>
                        <td>{{item.RoleName}}</td>
                        <td>{{item.Phone}}</td>
                        <td>{{item.Statistic.Room1 + item.Statistic.Room2 + item.Statistic.Room3}}</td>
                        <td>{{item.Statistic.Room1}}</td>
                        <td>{{item.Statistic.Room2}}</td>
                        <td>{{item.Statistic.Room3}}</td>
                        <td>Không có</td>
                    </tr>
                </table>
<!--
			<table class="table table-hover table-list table-contract table-maid">
				<tr>
					<th class="col2rows" rowspan="2">Họ tên nhân viên</th>
					<th class="col2rows" rowspan="2">Ngày bắt đầu làm</th>
					<th class="col2rows" rowspan="2">Ngày phép</th>
					<th colspan="2">Trừ giờ</th>
					<th colspan="2">Cộng giờ</th>
					<th class="col2rows" rowspan="2">&nbsp;</th>
				</tr>
                <tr>
                    <th>Ngày trừ</th>
                    <th>Số giờ</th>  
                    <th>Ngày cộng̀</th>
                    <th>Số giờ</th>  
                </tr>
				<tr ng-repeat="item in maidList">
					<td><a href="#">Hoàng Sang</a></td>
					<td>11/2/2018</td>
					<td>11/2/2018</td>
                    <td>11/2/2018</td>
                    <td>11</td>
                    <td>11/2/2018</td>
                    <td>12</td>
					<td>
						<div class="dropdown action-dropdown-table">
                        <button class="btn action-btn dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Chỉnh sửa</a></li>
                            <li><a href="#"> Xóa
                            </a></li>
                        </ul>
                      </div>
					</td>
				</tr>
			</table>
-->
		<div class="pagination-employee">
			<ul uib-pagination total-items="totalMaid" items-per-page="20" max-size="4" ng-model="bigCurrentPage" ng-change="pageChanged()"></ul>	
		</div>
    </div>
    <div id="employeeModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <form class="form-horizontal modal-content" name="myForm" ng-submit="submitEmployee(currentMaid)">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
	        <h4 class="modal-title" style="color: #DFF5F3">{{currentMaid.Id ? "Thông Tin" : "Tạo Mới"}} Nhân Viên</h4>
	      </div>
	      <div class="modal-body maid-employee-modal">
            
      		<div class="form-group">
	            <label class="control-label col-sm-3 text-left" for="">Phân loại nhân viên</label>
	            <div class="col-sm-8">
	            	<input type="text" required="" class="form-ctrl" ng-model="currentMaid.Type" >
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-3 text-left" for="">Họ</label>
	            <div class="col-sm-3">
	                <input type="text" required="" class="form-ctrl" ng-model="currentMaid.FirstName">
	            </div>
	            <label class="control-label col-sm-1 text-left" for="">Tên</label>
	            <div class="col-sm-4">
	                <input type="text" required="" class="form-ctrl" ng-model="currentMaid.LastName" >
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-3 text-left" for="">Mã nhân viên
	            </label>
	            <div class="col-sm-8">
	                <input type="text"  required="" class="form-ctrl" ng-model="currentMaid.Code" ng-readonly="currentMaid.Id">
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-3 text-left" for="">Ngày sinh</label>
	            <div class="col-sm-8 input-datetime">
	                <!-- <p class="input-group" ng-init="apt.opened = false">
                      <input required="" type="text" class="form-ctrl"uib-datepicker-popup="{{format}}" ng-model="currentMaid.Birthday" is-open="history.picker3" datepicker-options="dateOptions" readonly="" name="birthDay" close-text="Đóng"  clear-text="Làm mới" current-text="Hôm nay"/>
                      <span style="left: 1px; top: -4px;" class="input-group-btn">
                        <button style="height: 41px;" type="button" class="btn btn-default" ng-click="history.picker3 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p> -->
                    <p id="birthDayInputDate" style="z-index: 1007;" class="input-group" ng-init="item3={}">
                        <input type="text" class="form-ctrl" datetime-picker="dd/MM/yyyy" readonly="" enable-time="false"  timepicker-options="datePickerOptions" ng-model="currentMaid.Birthday" is-open="item3.open" button-bar="buttonBar"  />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openCalendar($event, item3)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-3 text-left" for="">Vị trí</label>
	            <div class="col-sm-8">
	                <select class="form-ctrl" number-to-string ng-model="currentMaid.Role" required="">
                        <option value="">Chọn vị trí</option>
                        <option value="0">Trưởng nhóm buồng phòng</option>
                        <option value="1">Nhân viên buồng phòng</option>
                    </select>
	            </div>
	        </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-left" for="">Số điện thoại</label>
                <div class="col-sm-8">
                    <input type="text" min="0" class="form-ctrl" ng-model="currentMaid.Phone" required="">
                </div>
            </div>
            <div class="form-group">
	            <label class="control-label col-sm-3 text-left" for="">Tài khoản</label>
	            <div class="col-sm-8">
	                <input type="text" class="form-ctrl" ng-model="currentMaid.Username" id="username" ng-readonly="currentMaid.Id">
	            </div>
	        </div>
            <div class="form-group">
	            <label class="control-label col-sm-3 text-left" for="">Mật khẩu</label>
	            <div class="col-sm-8">
	                <input type="password" ng-model="currentMaid.Password" class="form-ctrl" >
	            </div>
	        </div>
            <div class="form-group">
	            <label class="control-label col-sm-3 text-left"  for="">Xác nhận mật khẩu</label>
	            <div class="col-sm-8">
	                <input type="password" class="form-ctrl" ng-model="confirmPassword">
	    		</div>
	        </div>
	    </div>
	    <div class="modal-footer">
	    	<button ng-click="deleteEmployee(currentMaid.Id)" ng-if="currentMaid.Id" type="button" class="btn btn-danger" style="margin-right: 10px;">Xóa</button>
	      	<button ng-disabled="currentMaid.Password != confirmPassword" type="submit" class="btn btn-save" style="margin-right: 10px;">{{currentMaid.Id ? "Lưu" : "Tạo mới"}}</button>
	        <button type="button" class="btn btn-default" id="btn-close-modal" ng-click="currentMaid = null" data-dismiss="modal">Đóng</button>
	    </div>
	    </form>

	  </div>
	</div>
</div> 