a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

body {
    background: #e8e6e7;
}

button:focus, a:focus {
    outline: none !important;
}

a.btn:focus {
    color: white;
}

* {
    color: rgba(0,0,0,0.87);
    font-family: 'Roboto', sans-serif;
}

textarea:focus, input:focus {
    outline: none;
}

.header-bar-layout {
    height: 48px;
    width: 100%;
    background: #2e383d;
}

.left-header {
    height: 48px;
    display: inline-block;
    float: left;
}

.right-header {
    height: 48px;
    display: inline-block;
    float: right;
}

.left-header .logo img {
    height: 40px;
    width: 40px;
    margin: 4px;
}

.logo.nav-left-header span {
    color: white;
}

.left-header .nav-left-header {
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    float: left;
    color: white;
    line-height: 48px;
    padding: 0 16px;
}

.right-header .nav-right-header {
    font-size: 13px;
    display: inline-block;
    float: right;
    color: white;
    line-height: 48px;
}

.left-header .nav-left-header:first-child {
    line-height: 0;
    padding: 0 10px;
    margin-left: 10px;
}

.left-header .nav-left-header span {
    float: right;
    padding-left: 16px;
    font-size: 17px;
    line-height: 48px;
}

.left-header .nav-left-header:hover, .left-header .nav-left-header.active {
    background: #08b0a0;
    text-decoration: none;
}

.right-header .has-badge {
    position: relative;
}

.has-badge span {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 7px;
    color: white;
    background: #c62817;
    line-height: 16px;
    padding: 0 3px;
    font-size: 10px;
}

.has-badge i {
    font-size: 16px;
    color: #c1c4c5;
}

.right-header .has-badge:hover i {
    color: white;
}

.user-nav .avatar-user {
    height: 36px;
    width: 36px;
}

.user-nav .user-name-box {
    height: 48px;
    display: inline-block;
    float: right;
    line-height: normal;
    padding: 8px 0 0 10px;
    width: 100px;
}

    .user-nav .user-name-box span {
        display: block;
    }

        .user-nav .user-name-box span.user-small-name {
            color: #c1c4c5;
        }

.right-header .left-hr {
    height: 38px;
    border-right: 1px solid #c1c4c5;
    font-weight: 400;
    padding: 0;
    padding-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

button.has-badge {
    height: 48px;
    width: 45px;
    border: none;
    background: transparent;
}

.right-header .dropdown-menu {
    margin: 0;
    top: 98%;
    left: auto;
    right: 0;
    color: black;
}

.dropdown-menu.notification {
    width: 400px;
    max-height: 400px;
    padding: 0;
    line-height: normal;
}

.header-notification {
    height: 41px;
    line-height: 41px;
    padding: 0 16px;
}

.body-notification {
    border-top: 1px solid #c1c4c5;
    border-bottom: 1px solid #c1c4c5;
    max-height: 320px;
    overflow-y: auto;
}

.avatar-notification {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px 7px 7px 0;
    float: left;
}

.detail-notification {
    display: inline-block;
    width: 320px;
    float: left;
}

.section-notification {
    overflow: hidden;
    border-bottom: 1px solid #c1c4c5;
    padding: 7px;
    display: block;
    height: 64px;
    color: black;
    cursor: pointer;
}

    .section-notification:hover {
        background: #c1c4c54f;
    }

    .section-notification:last-child {
        border: none;
    }

.avatar-employee {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px 7px 7px 0;
    float: left;
}

.detail-employee {
    padding-top: 4px;
    display: inline-block;
    width: 300px;
    float: left;
}

.title-notification {
    font-weight: 600;
    font-size: 13px;
    display: block;
}

.time-notification {
    color: #c1c4c5;
    font-size: 12px;
    display: block;
}

.section-employee {
    padding: 7px;
    overflow: hidden;
    border-top: 1px solid #c1c4c5;
    display: block;
    height: 64px;
    color: black;
    cursor: pointer;
}

.role-employee {
    display: block;
    font-size: 12px;
    color: #c1c4c5;
}

.footer-notification {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
    background: #f1f1f1;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

    .footer-notification:hover {
        text-decoration: none;
        color: black;
    }

.notfound-text {
    margin: 0;
    color: #c1c4c5;
    padding: 20px 16px;
}

.users-tab {
    background-color: white;
}

    .users-tab ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
    }

        .users-tab ul.tabs li {
            text-align: center;
            background: white;
            opacity: 0.4;
            color: black;
            display: inline-block;
            padding: 13px 0;
            cursor: pointer;
            width: 50%;
            margin: 0;
            height: 41px;
            font-weight: 500;
            border-bottom: 1px solid #c1c4c5;
        }

            .users-tab ul.tabs li.current {
                opacity: 1;
                border-bottom: 1px solid #08b0a0;
            }

    .users-tab .tab-content {
        display: none;
        background: white;
    }

        .users-tab .tab-content.current {
            display: inherit;
            overflow: hidden;
        }

#searchEmp {
    width: calc(100% - 41px);
    border: none;
    background: white;
    margin-left: 5px;
    color: black;
    padding: 5px 0;
}

.search-group {
    border: 1px solid #c1c4c5;
    padding: 7px;
    margin: 7px 16px;
}

    .search-group i {
        color: #c1c4c5;
    }

        .search-group i:last-child {
            margin-right: 5px;
            cursor: pointer;
        }

.emp-tab .name-employee {
    font-weight: 500;
    font-size: 14px;
    color: #2f6092;
    margin-bottom: 3px
}

.user-nav .dropdown-toggle {
    border: none;
    background: transparent;
}

.right-header .user-nav {
    line-height: 43px;
}

.user-nav .dropdown-menu {
    width: 300px;
}

    .user-nav .dropdown-menu li:first-child {
        padding: 3px 20px;
        line-height: auto;
        margin-bottom: 10px;
        height: 77px;
    }

    .user-nav .dropdown-menu .big-avatar {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        border: 1px solid #c1c4c5;
        float: left;
    }

    .user-nav .dropdown-menu .detail-user-big {
        display: inline-block;
        width: calc(100% - 120px);
        margin-left: 20px;
        float: left;
    }

    .user-nav .dropdown-menu .name-user-big {
        font-size: 16px;
        display: block;
        height: 20px;
    }

    .user-nav .dropdown-menu .email-user-big {
        font-size: 12px;
        color: #c1c4c5;
        display: block;
        height: 20px;
    }

    .user-nav .dropdown-menu li {
        line-height: 36px;
    }

.section-employee, .section-notification {
    position: relative;
}

    .section-employee .action-dropdown, .section-notification .action-dropdown {
        position: absolute;
        right: 7px;
        top: 15px;
        visibility: hidden;
    }

    .section-employee:hover {
        background: #c1c4c54f;
    }

        .section-employee:hover .action-dropdown, .section-notification:hover .action-dropdown {
            visibility: visible;
        }

.action-btn {
    border: none;
    background: transparent;
    opacity: .5;
    font-size: 12px;
}

    .action-btn:hover {
        opacity: 1;
    }

.search-box {
    float: right;
    width: 250px;
    display: inline-block;
}

.btn-new a {
    padding: 9px 16px;
    display: inline-block;
    width: 88px;
    height: 36px;
    background-color: rgb(7,147,133);
    color: white;
    border: none;
}

.btn-blue {
    background-color: #2B7BAC;
    color: white;
    border: none;
    border-radius: 4px;
}

    .btn-blue i {
        color: white;
    }

    .btn-blue:hover {
        color: white;
        opacity: 0.7;
    }

.btn-new {
    float: right;
    display: inline-block;
}

.search-box .search-group {
    padding: 2px 7px;
    margin: 0;
    margin-right: 15px;
}

.warp {
    background: white;
}

    .warp.full-height {
        min-height: calc(100vh - 250px);
    }

        .warp.full-height.has-table {
            max-height: calc(100vh - 110px);
        }

.table-list {
    clear: both;
    width: 100%;
    margin-top: 20px;
}

.header-warp {
    padding-bottom: 5px;
    border-bottom: solid 1px #d5d6d9;
}

.body-warp {
    padding: 20px 30px 0 30px;
}

.title-warp {
    font-size: 18px;
    font-weight: 500;
}

.warp {
    padding: 30px
}

.table-list th {
    font-size: 12px;
    background: #f7f7f7;
    border: none;
}

.table-list td {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}

.action-dropdown-table .dropdown-menu {
    position: absolute;
    top: 0;
    left: -100px;
}

.link {
    color: #2F6089;
}

.avatar-table {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.text-success {
    padding: 5px 10px;
    border-radius: 3px;
    background: #08b0a0;
    color: white;
}

.text-warning {
    padding: 3px;
    border-radius: 3px;
    background: #db3836;
    color: white;
}
.text-notify {
    padding: 3px;
    border-radius: 3px;
    background: #388E8E;
    color: white;
}
.pagination-employee {
    float: right;
}

.pagination-page a, .pagination-prev a, .pagination-next a {
    font-size: 12px;
    border: none !important;
    color: rgba(0,0,0,0.87) !important;
}

.pagination-page.active a {
    background: rgba(0,0,0,.12);
    border: none;
}

.pagination-page.active:hover a {
    background: rgba(0,0,0,.12);
    border: none;
}

.pagination-page:hover a {
    background: rgba(0,0,0,.12);
    border: none;
}

.body-content {
    background: #e8e6e7;
    /*padding-top: 30px;*/
    min-height: calc(80vh - 250px );
}

.form-ctrl {
    padding: 6px 12px;
    width: 100%;
    border: solid 1px #d5d6d9;
    border-radius: 1px;
}

.account-detail-view {
    padding: 30px;
}

.btn-save {
    background: #1bb394;
    border-radius: 4px;
    color: white;
    border-color: #d5d6d9;
    margin-right: 25px;
}

    .btn-save:hover {
        color: white;
        opacity: .7;
    }

    .btn-save:focus {
        color: white;
    }

.btn-back {
    background: white;
    border-radius: 4px;
    color: black;
    border-color: #d5d6d9;
}

.account-detail-view .form-group {
    border-bottom: dashed 1px #d5d6d9;
    padding-bottom: 20px;
    padding-top: 10px;
}

.account-detail-view .form-group.has-border-top {
    border-top: solid 1px #707070;
    /*padding-bottom: 20px;*/
    padding-top: 20px;
}

    .account-detail-view .form-group:last-child {
        border: none;
    }

input:read-only {
    background-color: #d5d6d9;
}

button:focus {
    outline: 0;
}

.action-dropdown-table .dropdown-menu li a {
    padding: 10px 16px;
    font-size: 12px
}

.footer {
    overflow: hidden;
    margin-top: 20px;
    background: white;
    padding: 0 30px;
    line-height: 40px;
    height: 40px;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.short-warp {
    padding: 0 30px;
}

    .short-warp .body-warp {
        padding: 20px 0 10px 0;
    }

.img-apartment-table {
    width: 120px;
    height: 70px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.img-upload-current {
    position: relative;
}

.btn-upload {
    margin-bottom: -4px;
    float: right;
    display: inline-block;
    width: 94px;
}

.img-upload-current .img {
    width: calc(100% - 30px);
    height: 153px;
    position: absolute;
    top: 0;
    left: 15px;
    border-radius: 3px;
}

.btn-upload .btn-file {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 9px 24px 10px 14px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
}

.btn-upload {
    width: 100%;
    height: 153px;
}

    .btn-upload .btn-file p, .btn-upload .btn-file i {
        color: #9A9A9A;
    }

     .btn-upload .btn-file i {
        font-size: 22px;
    }

.btn-upload  .btn-file {
    width: 100%;
    text-align: center;
    height: 100%;
    padding-top: 50px;
    background-color: transparent;
    border: 1px dashed #707070;
}

.btn-upload .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: pointer;
    display: block;
}

.img-upload-current:hover .remove-img-btn {
    visibility: visible;
}

.img-upload-current .remove-img-btn {
    visibility: hidden;
    position: absolute;
    top: 7px;
    right: 24px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    z-index: 10;
    /* -webkit-text-fill-color: white; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: black; */
    opacity: 0.9;
    background: #676767;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding-left: 5.1px;
    line-height: 21px;
}

.margin-bot-15 {
    margin-bottom: 15px;
}

.opacityZero {
    opacity: 0;
}

.material-checkbox {
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
    font-size: 14px;
    line-height: 18px;
}

    .material-checkbox > input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        position: absolute;
        z-index: -1;
        left: -15px;
        top: -15px;
        display: block;
        margin: 0;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0.42);
        outline: none;
        opacity: 0;
        transform: scale(1);
        -ms-transform: scale(0); /* Graceful degradation for IE */
        transition: opacity 0.5s, transform 0.5s;
    }

        .material-checkbox > input:checked {
            background-color: #2196f3;
        }

    .material-checkbox:active > input {
        opacity: 1;
        transform: scale(0);
        transition: opacity 0s, transform 0s;
    }

    .material-checkbox > input:disabled {
        opacity: 0;
    }

        .material-checkbox > input:disabled + span {
            color: rgba(0, 0, 0, 0.38);
            cursor: initial;
        }

    .material-checkbox > span::before {
        content: "";
        display: inline-block;
        margin-right: 15px;
        border: solid 2px #56be8e;
        border-radius: 2px;
        width: 19px;
        height: 19px;
        vertical-align: -4px;
        transition: border-color 0.5s, background-color 0.5s;
    }

    .material-checkbox > input:checked + span::before {
        border-color: #56be8e;
        background-color: #56be8e;
    }

    .material-checkbox > input:active + span::before {
        border-color: #56be8e;
    }

    .material-checkbox > input:checked:active + span::before {
        border-color: transparent;
        background-color: rgba(0, 0, 0, 0.42);
    }

    .material-checkbox > input:disabled + span::before {
        border-color: rgba(0, 0, 0, 0.26);
    }

    .material-checkbox > input:checked:disabled + span::before {
        border-color: transparent;
        background-color: rgba(0, 0, 0, 0.26);
    }

    .material-checkbox > span::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 1px;
        left: 1px;
        width: 7px;
        height: 13px;
        border: solid 2px transparent;
        border-left: none;
        border-top: none;
        transform: translate(5.5px, 1px) rotate(45deg);
        -ms-transform: translate(5.5px, 2px) rotate(45deg);
    }

    .material-checkbox > input:checked + span::after {
        border-color: #fff;
    }

.checkbox-facility {
    margin-left: 10px;
}

.ckedit-tab {
    padding-top: 15px;
}

.body-main-content {
    width: calc(100% - 245px);
    display: inline-block;
}

.left-side-bar {
    width: 240px;
    display: inline-block;
    float: left;
    padding-top: 30px;
    padding-left: 30px;
}

    .left-side-bar .nav-menu-parent a, .left-side-bar .nav-menu-child a {
        color: black;
        line-height: 40px;
        display: block;
    }

        .left-side-bar .nav-menu-parent a.active, .left-side-bar .nav-menu-child a.active {
            font-weight: 500;
        }

    .left-side-bar .nav-menu-child {
        padding-left: 20px;
    }

table.rz-table {
    table-layout: fixed;
    border-collapse: collapse;
}

    table.rz-table th {
        position: relative;
        min-width: 25px;
    }

        table.rz-table th .rz-handle {
            width: 10px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            cursor: ew-resize !important;
            background: #f7f7f7;
            ;
        }

            table.rz-table th .rz-handle.rz-handle-active {
                border-right: 1px dotted #000;
            }

#resizeTable {
    border-collapse: collapse;
    background: white;
    margin-bottom: 0 !important;
}

    #resizeTable thead tr th {
        position: sticky;
        top: 0px;
        font-size: 12px;
        z-index: 5;
        background: #f7f7f7;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #resizeTable thead tr:last-child th {
        top: 48px;
    }

    #resizeTable thead tr th:first-child {
        position: sticky;
        left: 1px;
    }

    #resizeTable tr td:first-child {
        position: sticky;
        left: 0px;
        z-index: 4;
        line-height: 30px;
    }

    #resizeTable thead tr {
        background: #f7f7f7;
        height: 36px;
    }

        #resizeTable thead tr th {
            line-height: 36px;
            /*border-bottom-width: 1px;*/
            /*border-bottom: 1px solid #ddd;*/
        }

    #resizeTable tr td {
        background: white;
        font-size: 12px;
        padding: 0px;
        height: 30px;
        padding-left: 10px;
        white-space: nowrap;
    }

    #resizeTable .colApartment,
    #resizeTable .colProject,
    #resizeTable .colCountHouse,
    #resizeTable .colArea,
    #resizeTable .colBedroom,
    #colIndex {
        position: sticky;
    }

    #resizeTable .col-left {
        z-index: 7 !important;
    }

    #resizeTable th.col-left {
        z-index: 8 !important;
    }

    #resizeTable .input-row {
        padding: 3px;
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
    }

    #resizeTable .indexCol {
        font-weight: 600;
    }

    #resizeTable #colIndex {
        left: 0px;
    }

#resizeTable_wrapper > .row {
    margin-right: 0 !important;
}

    #resizeTable_wrapper > .row:nth-child(2) {
        margin-top: 20px;
        margin-left: 0;
    }

        #resizeTable_wrapper > .row:nth-child(2) > .col-sm-12 {
            overflow: scroll;
            padding: 0;
            height: calc(100vh - 300px);
            /*border: 1px solid #ddd;*/
        }

    #resizeTable_wrapper > .row:nth-child(3) {
        padding-top: 7px;
    }

        #resizeTable_wrapper > .row:nth-child(3) > .col-sm-7 {
            padding-right: 0;
        }
/*#resizeTable_wrapper > .row:nth-child(2) > .col-sm-12 table{
	   	padding-bottom: 10px; 
	   }*/

#resizeTable tbody tr:last-child td {
    /*border-bottom: 1px solid #ddd;*/
}

#tableApartmentList {
    background: white;
    position: relative;
}

.option-block-table {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 0px;
}

.body-content #tableApartmentList {
    overflow: none !important;
}

.col2row {
    line-height: 80px !important;
}

#resizeTable > tbody > tr:first-child > td {
    /*border-top: none;*/
}
/*
	   #resizeTable thead:after {
		    content: "-";
		    display: block;
		    line-height: 10px;
		    color: transparent;
		}*/

#resizeTable tr td, #resizeTable tr th {
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    outline: none !important; 
}
#resizeTable thead tr:first-child th{
    border-top: 1px solid #ddd;
}
#resizeTable thead tr:first-child th:first-child{
    border-left: 1px solid #ddd;
}
#resizeTable tbody tr td:first-child{
    border-left: 1px solid #ddd;
}

#resizeTable .rz-handle{
    /*border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd; */
}

.input-row.btn.btn-save {
    background: #1bb394 !important;
}

.rowBtn {
    padding: 3px 10px !important;
}

.no-padding-lr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

    .no-padding-lr .header-warp {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

.customer-table tr th {
    top: 0 !important;
}

#resizeTable_filter {
    margin-right: -15px;
}

#resizeTable tr th, #resizeTable tr td {
    /*border: 0.5px solid #ddd;*/
}

.no-padding-lr {
    padding-bottom: 10px;
}
.table-contract tr td{
    line-height: 29px !important;
}
.m-t-15{
    margin-top: 15px;
}

.title-form-group {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    /*text-align: center;*/
}
.border-none{
    border: none !important;
}
.form-group.has-child{
    padding-top: 35px;
    border-top: 1px solid #707070 !important;
}
.form-group.group-has-header{
    border-bottom: 1px solid #707070;
}
.form-group.border-bottom{
    border-bottom: 1px solid #707070 !important;
}
.has-checkbox{
    margin-top: 7px;
}
.m-l-10{
    margin-left: 10px;
}
.disable-block{
    pointer-events: none;
    opacity: 0.5;
}
.account-detail-view.contract-detail-view{
    padding: 0 15px;
}

#apartmentModal .modal-dialog{
    width: 800px;
    margin: 30px auto;
}
.pac-container {
    z-index: 100000;
}
.selectize-input{
    border-color: #d5d6d9 !important;
    background: white !important;
}
.label-visit{
    font-size: 16px;
    font-weight: 500;
}

.apartment-visit .img-apartment{
    display: block;
    width: 100%;
    height: 170px;
}
.apartment-visit .img-apartment img{
    width: 100%;
    height: 100%;
}

.m-t-10{
    margin-top: 10px;
}

.m-b-10{
    margin-bottom: 10px;
}

.p-b-10{
    padding-bottom: 10px;
}
.p-b-15{
    padding-bottom: 15px;
}
.border-bottom{
    border-bottom: 1px solid #d5d6d9;
}
.border-top{
    border-top: 1px solid #d5d6d9;
}
.apartment-visit{
    padding-top: 10px
}
.overflow-hidden{
    overflow: hidden;
}
hr.dashed {
  border:none;
  border-top:1px dashed #d5d6d9;
  color:transparent;
  background-color:transparent;
  height:1px;
  width:100%;
  margin: 0 15px;
}
.m-r-0{
    margin-right: 0 !important;
}
.rowSub{
    width: 70px !important;
}
.thead tr th{
    min-width: 80px !important;
}
.list-tab-maid{
    width: 400px;
   margin: 0 auto;
}
.list-tab-maid a{
    display: inline-block;
    padding: 20px 15px 15px 15px;
    background: #e8e6e7;
    color: black;
    position: relative;
}
.list-tab-maid a.active{
    font-weight: 500;
}
.list-tab-maid a.active i{
    color: white;
    font-size: 23px;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    height: 17px;
    display: block;
    top: 38px;
}

.list-tab-maid a i{
    display: none;
}
.content-maid-list{
    background: white;
    padding: 0 15px;
    padding-top: 25px;
    min-height: calc(100vh - 163px);
}
.table-maid th, .table-maid td{
    text-align: center
}
.table-maid th{
    border-right: 1px solid #ddd;
}
.table-maid th:last-child, .table-maid td:last-child{
    border-right: none;
}
/*
.table-maid tr th:first-child, .table-maid tr td:first-child{
    border-left: 1px solid #ddd;
}
*/
.table-maid tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}
.table-maid .col2rows{
    line-height: 48px;
}
.view-maid-list .modal-dialog{
    width: 690px !important;
}